*{
  margin: 0;
  padding: 0;
}
html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}

h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button{
  border: 1px solid black;
  width: 30vw;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: grey;
  border-radius: 8px;
  cursor: pointer;
  color: black;
}

#ButtonContainer{
  display: flex;
  flex-direction: column;
}

#Table1{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  height: auto;
}
#Table1 thead tr th{
  border: 1px solid black;
  font-weight: bold;
  min-height: 30px;
  background-color: grey;
}
#PartHeader{
  width: 20vw;
}
#LinkHeader{
  width: 20vw;
}
#PhotosHeader{
  width: 60vw;
}
#Table1 tbody tr th{
  border: 1px solid black;
  min-height: 30px;
}

#TopBar{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
}

.pdf{
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: white;
  display: block;
}

@media (max-width: 299px) {
.pdf{
  width: 200px;
  height: 259px;
}
}

@media (min-width: 300px) {
.pdf{
  width: 300px;
  height: 389px;
}
}

@media (min-width: 400px) {
.pdf{
  width: 400px;
  height: 518px;
}
}

@media (min-width: 500px) {
.pdf{
  width: 500px;
  height: 648px;
}
}

@media (min-width: 600px) {
.pdf{
  width: 600px;
  height: 777px;
}
}

@media (min-width: 700px) {
.pdf{
  width: 700px;
  height: 906px;
}
}

@media (min-width: 800px) {
.pdf{
  width: 800px;
  height: 1036px;
}
}

@media (min-width: 900px) {
.pdf{
  width: 900px;
  height: 1165px;
}
}

@media (min-width: 1000px) {
.pdf{
  width: 1000px;
  height: 1295px;
}
}

@media (min-width: 1100px) {
.pdf{
  width: 1100px;
  height: 1424px;
}
}

@media (min-width: 1200px) {
.pdf{
  width: 1200px;
  height: 1553px;
}
}
